body{
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

.darkmode{
  background-color: rgb(121, 119, 119);
}

h1{
  justify-content: center;
  display: flex;
}

h3{
  justify-content: center;
  display: flex;
}

.phoneContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.iphone{
  border: 1px solid black;
}

.samsung{
  border: 1px solid black;
}

.huwawei{
  border: 1px solid black;
}

.onePlus{
  border: 1px solid black;
}

.phoneInformation{
  display: flex;
  font-size: 10px;
  gap: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.first{
  display: grid;
}

.second{
  display: grid;
}

.third{
  display: grid;
}

.forth{
  display: grid;
}

button{
  display: flex;
  justify-content: center;
}